* {
  padding: 0;
  margin: 0;
  --max-width: 800px;
  --header-movile-height: 10vw;
  --header-pc-height: 50px;

  --shopping-img-size: 80px;
  --shopping-background-color: #f9e219;
  --shopping-border-color: #bfb131;

  --process-list-img-size: 85px;

  --optional-img-size: 80px;

  --social-media-width: 60px;
  --social-media-logo-size: 7vw;
  --social-media-pc-logo-size: 40px;
}

.page-title {
  height: var(--header-movile-height);
  padding: 5px;
  box-sizing: border-box;
}

.page-title h1 {
  font-size: 5vw;
}

img {
  width: var(--process-list-img-size);
  height: var(--process-list-img-size);
}

.social_medias {
  float: left;
  width: var(--social-media-width);
  padding: 0 10px;
  box-sizing: border-box;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
}

.social_medias a img {
  width: var(--social-media-logo-size);
  height: var(--social-media-logo-size);
}

.container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - var(--header-movile-height));
  overflow: overlay;
  padding-right: 20px;
  box-sizing: border-box;
}

.selector_container {
  display: flex;
  justify-content: center;
}

#selectHide {
  width: 150px;
}

.calc {
  margin-top: 1rem;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10rem;
  width: 100%;
  max-width: var(--max-width);
}

.selectors {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.shopping_list {
  background-color: var(--shopping-background-color);
  border-radius: 10px;
  padding: 10px;
  border: 5px solid var(--shopping-border-color);
  margin-bottom: 2rem;
  width: 100%;
  box-sizing: border-box;
}

.shopping_list img {
  width: var(--shopping-img-size);
  height: var(--shopping-img-size);
}

.shopping_list h3 {
  padding: 0;
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
  border-bottom: 2px solid var(--shopping-border-color);
}

.shopping_list .item-containers {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: 10px;
}

.shopping_list .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--shopping-border-color);
  border-radius: 8px;
  padding: 3px;
}

.shopping_list .item .shopping_optional_cant_items {
  display: flex;
  justify-content: space-around;
  width: calc(5px + var(--shopping-img-size) + var(--shopping-img-size));
}

.shopping_list .item p {
  padding: 0;
  margin: 0;
}

.process-list .tableContainer {
  margin-bottom: 1.5rem;
  box-sizing: border-box;
}

.process-list {
  width: 100%;
}

.process-list .tableContainer > div {
  overflow-x: auto;
}

.process-list table {
  border: 1px solid gray;
}

.process-list table tr {
  border: 1px solid gray;
}

.process-list table tr td {
  border: 1px solid gray;
  text-align: center;
  padding: 5px 0.5rem;
}

.optional {
  display: flex;
  flex-direction: column;
}

.optional img {
  width: var(--optional-img-size);
  height: var(--optional-img-size);
}

/* PC */
@media screen and (min-width: 800px) {
  .page-title {
    height: var(--header-pc-height);
  }
  .page-title h1 {
    font-size: xx-large;
  }
  .social_medias {
    top: var(--header-pc-height);
  }
  .social_medias a img {
    width: var(--social-media-pc-logo-size);
    height: var(--social-media-pc-logo-size);
  }
  .container {
    align-items: center;
    height: calc(100vh - var(--header-pc-height));
  }
}
